*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
body{
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: chartreuse;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid crimson;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}